* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
}
/* header */
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 10px;
  background-color: #293949;
  margin: 10px;
  border-radius: 1em;
  box-shadow: #be9857 0 0 10px 5px;
}
.logo{
  justify-self: end;
  margin-left: 10px;
  margin: 2em 0em 1em 0em;
  padding: 1em;
}
.cabecera{
  justify-self: start;
  font-size: 25px;
  margin-top: 1em;
  padding: 1em;
  color: #be9857;
}
h3{
  color: whitesmoke;
}
/* COMIENZO DE LA APP */
main{
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  column-gap: 40px;
  row-gap: 50px;
  padding: 2em;
}
.usuario{
  border: solid 4px #BE9857;
  padding: 1em;
  border-radius: 1em;
}
.titulo{
  border: solid 4px #BE9857;
  padding: 1em;
  text-align: center;
  margin: 1em;
  border-radius: 1em;
}
.perfil{
  padding: 1em;
  text-align: center;
  margin: 1em;
}
.botones{
  text-align: center;
}
.editar {
  background-color: #293949;
  padding: 1em;
  text-align: center;
  margin: 1em;
  width: 400px;
  height: 60px;
  border: solid 4px #BE9857;
  border-radius: 1em;
  font-size: 20px;
  color: whitesmoke;
}
.configuracion{
  background-color: #293949;
  padding: 1em;
  text-align: center;
  margin: 1em;
  width: 400px;
  height: 60px;
  border: solid 4px #BE9857;
  border-radius: 1em;
  font-size: 20px;
  color: whitesmoke;
}
.patrimonio{
  background-color: #293949;
  padding: 1em;
  text-align: center;
  margin: 1em;
  width: 400px;
  height: 60px;
  border: solid 4px #BE9857;
  border-radius: 1em;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
#grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 1.5em;
}
.qr-imagen{
  margin: 1em;
  padding: 3px;
}
/* botones de creación de Qr */
.creacion{
  background-color: #149300;
  padding: 1.5em;
  text-align: center;
  margin: 1em;
  width: 650px;
  height: 130px;
  border: solid 4px #BE9857;
  border-radius: 1em;
  font-size: 20px;
  color: whitesmoke;
}
.cambiar{
  background-color: #00509f;
  padding: 1.5em;
  text-align: center;
  margin: 1em;
  width: 650px;
  height: 130px;
  border: solid 4px #BE9857;
  border-radius: 1em;
  font-size: 20px;
  color: whitesmoke;
}
.eliminar{
  background-color: #8f0000;
  padding: 1.5em;
  text-align: center;
  margin: 1em;
  width: 650px;
  height: 130px;
  border: solid 4px #BE9857;
  border-radius: 1em;
  font-size: 20px;
  color: whitesmoke;
}
.descargar{
  background-color: #8d8100;
  padding: 1.5em;
  text-align: center;
  margin: 1em;
  width: 650px;
  height: 130px;
  border: solid 4px #BE9857;
  border-radius: 1em;
  font-size: 20px;
  color: whitesmoke;
}
.vista{
  background-color: #000000;
  padding: 1.5em;
  text-align: center;
  margin: 1em;
  width: 650px;
  height: 130px;
  border: solid 4px #BE9857;
  border-radius: 1em;
  font-size: 20px;
  color: whitesmoke;
}
footer{
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  column-gap: 10px;
  row-gap: 1px;
}
.logo-footer{
  justify-self: end;
}
.p-footer{
  color: rgb(0, 0, 0);
  position: relative;
  top: 15px;
}
button{
  transition: 1s;
}
button:hover{
  background-color: #000000;
  color: #ff0000;
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}
a:hover{
  color: #ff0000;
}